.popup__text-error-active {
    display: block;
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: rgba(255, 0, 0, 1);
    left: 0;
    top: 47px;
    z-index: 5;
}